<div class="container">
    <img src="public/assets/img/burgie.png" alt="happy burgie" />
    <h1> I'm a happy burger!</h1>
</div>

<div class="container">
       <form>
        <div class="form-group col-md-12">
            <label for="exampleFormControlTextarea1">Enter a burgie!</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="1"></textarea>
        </div>
    </form>
</div>